{% extends 'base.html.twig' %}

{% block title %}Boutique Controller!{% endblock %}

{% block body %}
    <div class="d-flex flex-wrap justify-content-center m-auto">
        <a href="{{path('createCategory')}}" class="text-decoration-none m-3" style="width: 200px; height: 200px;">
            <div class="card">
                <div class="card-body d-flex justify-content-center">
                    <i class="fas fa-edit fa-5x"></i>
                </div>
                <div class="card-footer">
                    <p class="text-center">Créer une catégorie</p>
                </div>
            </div>
        </a>
        <a href="{{ path('createProduct') }}" class="text-decoration-none m-3" style="width: 200px; height: 200px;">
            <div class="card">
                <div class="card-body d-flex justify-content-center">
                    <i class="fas fa-edit fa-5x"></i>
                </div>
                <div class="card-footer">
                    <p class="text-center">Créer un produit</p>
                </div>
            </div>
        </a>

        <a href="{{ path('gererCommandes') }}" class="text-decoration-none m-3" style="width: 200px; height: 200px;">
            <div class="card">
                <div class="card-body d-flex justify-content-center">
                    <i class="fas fa-edit fa-5x"></i>
                </div>
                <div class="card-footer">
                    <p class="text-center">Gerer les commandes</p>
                </div>
            </div>
        </a>
    </div>
{% endblock %}

