{% extends 'base.html.twig' %}

{% block title %}Boutique Controller!{% endblock %}

{% block body %}
    {% include 'components/navbar.html.twig' %}
    {#        // Ici  des cards avec les differentes categories de produits #}
    <div class="container mt-5 mb-5 pt-5 pb-5">
        <div class="d-flex justify-content-around">
            {% for categorie in categories %}
                <div class="col-3">
                    <div class="card" style="width: 18rem; height: 28rem;">
                        <div class="card-body text-center">
                            <h5 class="card-title">{{ categorie.libelle }}</h5>
                            <img class="card-img" src="{{ asset(categorie.visuel) }}">
                            <p class="card-text" style="height: 60px">{{ categorie.texte }}</p>
                            <a class="btn btn-primary" href="{{ path('produits', {'idCategorie': categorie.id}) }}">Voir les produits</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    {% include 'components/footer.html.twig' %}

{% endblock %}

