{% extends 'base.html.twig' %}

{% block title %}Boutique Controller!{% endblock %}

{% block body %}
    <div class="d-flex flex-wrap justify-content-center m-auto">
        {% for categorie in categories %}
            <div class="card m-2" style="width: 16rem; height: 28rem;">
                <div class="card-body text-center">
                    <h5 class="card-title">{{ categorie.libelle }}</h5>
                    <img class="card-img" src="{{ asset(categorie.visuel) }}">
                    <p class="card-text" style="height: 60px">{{ categorie.texte }}</p>
                    <a class="btn btn-primary" href="{{ path('produits', {'idCategorie': categorie.id}) }}">Voir
                        les
                        produits</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

