{% extends 'base.html.twig' %}

{% block title %}Contact Controller!{% endblock %}

{% block body %}
    <main role="main" class="container w-75">
        <div class="row">
            <div class="col offset-md-2">
                <div class="main-div">
                    <!-- debut du block body -->
                    <div class="card col-md-12">
                        <div class="card-header">
                            <h1><i class="fas fa-comments"></i> Contact</h1>
                        </div>
                        <div class="card-body text-center" style="width: 40%; margin: auto;">
                            <div class="card stretched-link"
                                 onclick="window.open('https://www-info.iut2.univ-grenoble-alpes.fr/licence-pro-mi/')">
                                <img src="{{ asset('images/iut2_info.png') }}" class="card-img-top" alt="iut2_info">
                                <div class="card-body">
                                    <h1 class="card-title
                                    "><i class="fas fa-code"></i> Licence Pro MI AW</h1>
                                    <h2 class="card-title
                                    "><i class="fab fa-symfony"></i> Module MI5</h2>
                                    <p><i class="far fa-copyright"></i> Ph. Martin, 2019/20</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock %}
