{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <main role="main" class="container-fluid" style="width: 90%">
        <div class="row">
            <div class="col-md-10">
                <div class="main-div">
                    <!-- debut du block body -->
                    <div class="card col-md-12">
                        <div class="card-header">
                            <h1><i class="fas fa-home"></i> Démo Symfony</h1>
                        </div>
                        <div class="card-body">
                            <div class="card clickable" onclick="location = '{{ path('boutique') }}';">
                                <img src="{{ asset('images/epicerie.jpg') }}" class="card-img-top" alt="Logo Boutique Symfony"/>
                                <div class="card-body">
                                    <p class="card-text"><i>Ici rien à vendre, c'est juste pour apprendre</i></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- JS : JQuery, Bootstrap -->
    <script>
        $(function () {
            // Activation tooltip bootstrap sur la page
            $('[data-toggle="tooltip"]').tooltip();
            // Comportement du bouton de recherche
            $("#searchButton").click(
                function () {
                    var searchString = $('#searchString').val().trim();
                    location = ('/mi5/fr/boutique/chercher/' + searchString);
                    return false;
                });
        });
    </script>        <!-- debut du block js -->
    <!-- fin du block js -->
    </body>
    </html>

{% endblock %}
