{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    {% include 'components/navbar.html.twig' %}
    <div class="container mt-5 pt-5">
        {% if app.user %}
            <div class="mb-3">
                <h2>Vous êtes connecté en tant que {{ app.user.nom + ' ' + app.user.prenom }}</h2>
                <a href="{{ path('app_logout')}}">Logout</a>
            </div>
        {% else %}
            <h1>Inscription/Connexion</h1>
            {{ include('user/_form.html.twig') }}
        {% endif %}
    </div>

    {{ include('components/footer.html.twig') }}
{% endblock %}
